@import '../../styles/colors';

// .property-page {
//     padding-top: 5%;
//     padding-bottom: 3%;
// }

.search-btn {
    .btn {
        &:hover {
            color: $teal !important;
            border-color: $teal;
        }
    }

}

.close-filter {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10%;
}

.property-search-results {
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sm-screen {
    .filter-details {
        width: 85%;
    }
}